
<div class="topbar col-lg-12">
<div class="container">

<h3 class="nav">CALL US NOW</h3>
<h3 class="nav numbers">385.154.11.28.35</h3>
<h3 class="nav signup numbers">SIGNUP</h3>
<h3 class="nav login">LOGIN</h3>
</div>
</div>

<div class="header col-lg-12">
<div class="container">
<h1 class="logo yourword">YOUR</h1>
<h1 class="logo logoword">LOGO</h1>

<div class="col-lg-12 list">
<ul>
	<li class="titlenav">TITLE 7</li> 
	<li class="titlenav">TITLE 6&nbsp;&nbsp;&nbsp;</li>
	<li class="titlenav">TITLE 5&nbsp;&nbsp;&nbsp;</li>
	<li class="titlenav">TITLE 4&nbsp;&nbsp;&nbsp;</li>
	<li class="titlenav">TITLE 3&nbsp;&nbsp;&nbsp;</li>
	<li class="titlenav">TITLE 2&nbsp;&nbsp;&nbsp;</li>
	<li class="titlenav">TITLE 1&nbsp;&nbsp;&nbsp;</li>
</ul>
</div>

<div class="main"><br><br><br><br><br>
<p class="subtle">Home/Who we are/Contact</p><br>

<h1 class="contact">Contact</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam posuere ipsum nec velit mattis elementum. Cum sociis natoque 
penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas eu placerat metus, eget placerat libero. </p>



<div class="contact col-lg-12"><br><br>
	<h1 class="contactus col-lg-12">CONTACT US</h1>



<div class="col-lg-12">   
<div class="col-sm-6 col-lg-6 contact-form left move">
<form id="contact" method="post" class="form" role="form">
<div class="row">

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
<input class="form-control" id="name" name="name" placeholder="Name*" type="text" required autofocus />
</div>

<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 form-group">
<input class="form-control" id="phone" name="phone" placeholder="Phone*" type="text" required autofocus />
</div>

<div class="col-xs-6 col-xs-6 col-md-6 col-lg-6 form-group">
<input class="form-control" id="email" name="email" placeholder="Email*" type="email" required />
</div>

</div>
<textarea class="form-control" id="message" name="message" placeholder="Message*" rows="5"></textarea>
<br />
<div class="row">
<div class="col-xs-12 col-xs-6 col-md-12 col-lg-6 form-group">
<button class="btn btn-primary pull-left submitbutton" type="submit">Submit</button>
</form>
</div>